name: Test
on: 
  pull_request:
    branches: 
      - main
      - master
  push:
    branches:
      - main
      - master
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    env:
      TASKCTL_CONFIG_FILE: tasks.yaml

    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23.x

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    
    - name: go vet
      run: |
        go run cmd/main.go run task govet
    
    - name: Test
      run: |
        go run cmd/main.go run pipeline testOut
    
    - name: Publish Junit style Test Report
      uses: mikepenz/action-junit-report@v3
      if: always() # always run even if the previous step fails
      with:
        report_paths: '.coverage/report-junit.xml'

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      if: always()
      with:
        filename: '.coverage/report-cobertura.xml'
        badge: true
        format: markdown

